.inputCss{
    border-left: none;
    border-right: none;
    border-top: none;
}
.headerStyle{
    font-weight: bold;
    text-decoration: underline;
}
input:focus {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
  }
  input:hover{
    border-left: none;
    border-right: none;
    border-top: none;
  }
